/* General styles */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d1d1d1;
  margin: 0;
}

/* Unifying borders and adding more elegant fonts */
.column1,
.column2 {
  float: left;
  padding: 20px;
  border: 2px solid #4a0d0d; /* Matching the border color with the background color */
  border-radius: 10px;
}

.column1 {
  width: 800px;
  background-color: #aaa;
}

.column2 {
  width: 500px;
  background-color: #bbb;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

/* Timer styling */
.timer {
  background-color: #ffb2b2;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Canvas styling */
#gameCanvas {
  background-color: #c17070;
  width: 100%;
  height: 550px;
  border: 2px solid #4a0d0d;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Level buttons */
.level-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #534664;
  padding: 10px;
  border-radius: 8px;
}

.level-selection button {
  background-color: #4c3e77;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #000000; /* Same border color as the sections */
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px;
  font-weight: bold;
}

.level-selection button:hover {
  background-color: #dc91d9;
}

/* Leaderboard styling */
.leaderboard {
  background-color: #859be7;
  color: white;
  padding: 20px;
  text-align: left;
  margin-bottom: 15px;
  border-radius: 8px;
}

.leaderboard li {
  margin-bottom: 8px; /* Adds spacing between leaderboard items */
}

/* Legend styling */
.legend {
  background-color: #837edf;
  color: white;
  padding: 20px;
  text-align: left;
  border-radius: 8px;
}

.legend li {
  margin-bottom: 8px; /* Adds spacing between legend items */
}

/* Current Speed section styling */
.current-speed {
  background-color: #a78ac6;
  color: white;
  padding: 20px;
  text-align: left;
  margin-top: 15px;
  border-radius: 8px;
}
